html {
  position: relative;
}

body {
  min-width: 1020px;
  font-family: Open-sans;
  a {
    color: #000;
  }
  a:hover {
    color: #FC6540;
    text-decoration: none;
  }
}

.header {
  background: #F3F2EF;
  height: 64px;
  }

footer {
  height: 100px;
  background: #F3F2EF;
  .row {
    margin-top: 10px;
  }
}

main.container {
  width: 1020px;
  margin: auto;
  background-color: aliceblue;
  .row {
    padding: 20px;
    margin-bottom: 200px;
  }
}

.nicehead {
  position: relative;
  width: 1020px;
  margin: auto;
  .logo {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    a:hover {
      color: #000;
    }
  }
  .auth {
    position: absolute;
    top:10px;
    right:0px;
  }
}

.dropdown {
  width: 200px;
  height: 42px;
}

.zaglushka {
  margin: 0 auto;
  text-align: center;
  img {
    width: 50%;
  }
}

.articles_show {
  height: 300px;
  padding: 20px;
}