body {
  vertical-align: baseline;
  min-width: 1020px;
  font-family: Open-sans;
}

.main {
  position: relative;
  width: 1020px;
  margin: auto;
  padding: 10px;
  background-color: aliceblue;
}

.header {
  position: relative;
  background: #F3F2EF;
  vertical-align: baseline;
  .row {
    /* padding-top: 20px; */
    position: relative;
    width: 1020px;
    margin: auto;
    .logo {
      text-align: center;
      font-size: 24px;
      margin-top: 10px;
    }
    .auth {
      float: right;
    }
  }
}

.main .zaglushka {
  margin: 0 auto;
  text-align: center;
  img {
    width: 50%;
  }
}

.main .articles_show {
  height: 300px;
  padding: 20px;
}