$font-family-sans-serif: Helvetica, sans-serif;

html {
  position: relative;
}

body {
  min-width: 1020px;
  font-family: Open-sans;
  a {
    color: #000;
  }
  a:hover {
    color: #FC6540;
    text-decoration: none;
  }
  .btn {
    font-family: $font-family-sans-serif;
  }
}

.header {
  background: #F3F2EF;
  /* height: 64px; */
  }

footer {
  height: 100px;
  background: #F3F2EF;
  .row {
    margin-top: 10px;
    .social a {
      margin-right: 5px;
    }
  }
}

main.container {
  width: 1020px;
  margin: auto;
  .wroom {
    margin-bottom: 60px;
    margin-top: 20px;
  }
}

.news {
  background: #F3F2EF;
  padding-top: 15px;
  padding-bottom: 12px;
  height: 220px;
  .postbox {
    display: block;
    width: 225px;
    height: 60px;
    float: right;
    font-size: 15px;
    .posttime {
      float: left;
      margin-right: 10px;
      width: 30px;
    }
    .postlink {
      float: left;
      width: 170px;
      .posttitle {
        
      }
    }
  }
}

.cubebox {
  border: 1px solid rgba(0,0,0, 0.08);
  float: left;
  width: 290px;
  padding: 10px;
  margin-right: 12px;
  margin-top: 12px;
  .cubelink {
    font-size: 16px;
  }
  img {
    width: 100%;
  }
}

.nicehead {
  position: relative;
  width: 1020px;
  margin: auto;
  .upperbar {
    height: 20px;
    background: darkcyan;
  }
  .logo {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    a:hover {
      color: #000;
    }
  }
  .auth {
    position: absolute;
    top:35px;
    right:0px;
  }
  .categories {
    font: 15px/20px "Bentham", sans-serif;
    letter-spacing: 2px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0, 0.08);
    border-bottom: 1px solid rgba(0,0,0, 0.08);
    ul {
      text-align: center;
      text-transform: uppercase;
    }
    li {
      display: inline-block;
      margin-right: 20px;
    }
    .filtered {
      background-color: rgba(0,0,0,0);
      a:hover {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

.rightlink {
  text-align: right;
  font-size: 12px/15px;
}

.centerlink {
  text-align: center;
  margin-top: 20px;
  a {
    font-size: 21px/20px;
  }
}

  
.comments {
  background: #F3F2EF;
  width: 800px;
  padding: 1px 15px;
}
.commentbox {
  margin-bottom: 10px;
  padding: 5px;
  background: #F3F2EF;
  .commentername span {
    margin-left: 7px;
  }
}

.wpagination {
  height: 80px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.podpisatca {
  border: 1px solid rgba(57,156,114, 0.6);
  color: #399C72;
  border-radius: 20px;
  padding: 2px 20px;
  background: #fff;
}