html {
  position: relative;
}

body {
/*  min-width: 1020px;*/
  font-family: Open-sans;
  a {
    color: #000;
  }
  a:hover {
    color: #FC6540;
    text-decoration: none;
  }
  .btn {
    font-family: Helvetica, sans-serif;
  }
}

.alert {
  margin-bottom: 0px;
}

.header {
  background: #F3F2EF;
  /* height: 64px; */
  }

footer {
  height: 100px;
  background: #F3F2EF;
  .wc-cont {
    margin-top: 20px;
    padding-top: 10px;
    .social a {
      margin-right: 5px;
    }
  }
}

main.container {
  max-width: 1020px;
  margin: auto;
  .wroom {
    margin-bottom: 60px;
    margin-top: 20px;
  }
}


.nicehead {
  position: relative;
  max-width: 920px;
  margin: auto;
  .upperbar {
    height: 20px;
    background: darkcyan;
  }
  .logo {
    text-align: center;
    font-size: 32px;
    margin-top: 10px;
    a:hover {
      color: #000;
    }
  }
  .auth {
    text-align: right;
    position: absolute;
    top:14px;
    right:0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: small;
    a {
      margin-right: 3px;
    }
  }
  .categories {
    /*font: 15px/20px "Bentham", sans-serif;*/
    letter-spacing: 2px;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0, 0.08);
    border-bottom: 1px solid rgba(0,0,0, 0.08);
    ul {
      text-align: center;
      text-transform: uppercase;
    }
    li {
      display: inline-block;
      margin-right: 20px;
    }
    .filtered {
      a:hover {
        color: #000;
        text-decoration: underline;
      }
    }
  }
}

.rightlink {
  text-align: right;
  font-size: 12px/15px;
}

.centerlink {
  text-align: center;
  margin-top: 20px;
  a {
    font-size: 21px/20px;
  }
}

.lightgrayline {
  border-top: 1px solid rgba(0,0,0, 0.1);
  margin-bottom: 12px;
  margin-top: 12px;
}

.wpagination {
  height: 80px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.podpisatca {
  border: 1px solid rgba(57,156,114, 0.6);
  color: #fff;
  border-radius: 15px;
  padding: 4px 20px 2px;
  background: #399C72;
}