form.simple_form {

  display: inline-block;

  &.ordinary {
    margin: auto;
    .form-inputs {
      width: 400px;
    }
    .form-actions {
      margin-top: 25px;
    }
  }

  /*.catlist.controls select { width: 200px; } */

  .control-group {
    margin-bottom: 20px;
  }
}
