!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

  %body
    Здравствуйте, 
    = @user.name
    Ваша статья опубликована! Вы можете посмотреть ее, пройдя по ссылке:
    = link_to article_path(id: @article.id) do
      %span 
        = @article.title

    Чтобы отписаться от рассылки, нажмите
    = link_to 'Отписаться', { controller: 'persons', action: 'unsubscribe_notifications', user_token: @user.user_token }
      