!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

  %body
    %h1 Welcome to English club, 
      = @user.name
    %p
      You have successfully signed up to English club,
      your username is: 
      = @user.name

    