.wc-cont
  .profile
    %h2 
      Изменение пароля

    .login-form
      = form_for(@user, url: persons_password_update_path, html: { method: :put }, class: 'form-horizontal') do |f|
        .form-group
          = f.text_field :password, label: false, placeholder: 'New password', required: true, autofocus: true, class: 'form-control'
        .form-actions
          = f.submit "Сохранить", class: "btn  btn-submit"

      .extramargin
        = link_to persons_path, class: "back-button" do
          %p.subtitle Назад
