!!!
%html
  %head
    %meta{ :content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }

  %body

    %h3
      Новое за неделю 

    %p
    - @user.subscriptions.each do |sub|
      - Category.find(sub.category_id).articles.each do |article|
        .lightgrayline
        
        %p
          = article.title
        %p
          = article.anonce
        %p
          = link_to 'read', article_url(article)


    %p
      Чтобы отписаться от рассылки, нажмите
      = link_to 'Отписаться', unsubscribe_url( user_token: @user.user_token )
