// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-article {
  margin-bottom: 50px;;
  padding: 5px 20px;
  .lightgrayline {
    width: 850px;
    height: 2px;
    background: #EEEEEE;
    margin-bottom: 25px;
  }
}

.catlist {
  height: 100%;
  margin-top: 20px;
  .checkbox {

    margin-right: 10px;
  }
}
.lf {
  margin-right: 10px;
  text-align: center;
  font-weight: bold;
  float: right;
}

.lightgrayline {
  border-top: 1px solid rgba(0,0,0, 0.1);
  margin-bottom: 12px;
  margin-top: 12px;
}

.newssubscription {
  border-top: 1px solid rgba(0,0,0, 0.1);
  padding-top: 50px;
  padding-bottom: 30px;
  .fineline {
    height: 40px;
    background: gainsboro;
    padding-left: 12px;
    padding-top: 1px;
  }
}