.row-cont {
  margin: 0 auto;
  max-width: 920px;
  padding: 20px 0px;
  .inline {
    padding: 5px 0px;
    span {
      height: 10px;
    }
  }
  li {
    display: inline-block;
    margin-right: 10px;
    border: 1px solid rgba(252,101,64,0.5);
    border-radius: 20px;
    padding: 2px 20px;
    a {
      color: #FC6540;
    }
  }
}

.lightgrayline {
  border-top: 1px solid rgba(0,0,0, 0.1);
  margin-bottom: 12px;
  margin-top: 12px;
}

/*----------Article Index----------*/

.subscribe-index {
/*  border-top: 1px solid rgba(0,0,0, 0.1);*/
  display: inline-block;
  color: #959595;
  height: 100px;
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  background: rgba(0,0,0,0.05);
  .fineline {
    height: 100px;
    padding-left: 12px;
    padding-top: 1px;
  }
}

/*----------Article Show----------*/

.editlink {
  margin-right: 10px;
  float: right;
}

.articlebody {
  font-size: 17px;
  text-align: justify;
  margin-bottom: 20px;
  .image {
    text-align: center;
  }
  img {
    margin-bottom: 20px;
    max-width: 900px;
    max-height: 500px;
  }
  .text {
    width: 650px;
    margin: 0 auto;
  }
}

.article-author {
  font-size: 12px;
  color: #959595;
  font-family: "PT Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  margin-bottom: 15px;
}