// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentername {
  background-color: rgba(0,0,0,0.03);
  .commentbody {
    padding: 5px;
  }
}
  
.comments {
  background: #F3F2EF;
  width: 800px;
  padding: 1px 15px;
}
.commentbox {
  margin-bottom: 10px;
  padding: 5px;
  background: #F3F2EF;
  .commentername span {
    margin-left: 7px;
  }
}

.answer, .hideanswer {
  cursor: pointer;
  a:hover {
    color: #FC6540;
  }
}

.answerform, .hideanswer {
  display: none;
}

.answerform {
  padding-left: 20px;
  padding-top: 10px;
}

.nextcomment {
  padding-left: 20px;
}