// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-block{
  margin: 7% auto;
  width: 360px;
  padding: 0px 15px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.5);
  background: #F3F2EF;

  .login-head {
    text-align: center;
    padding: 10px;
  }
  
  .login-form {
    text-align: center;
    label {
      text-align: right;
      padding-right: 0px;
      padding-top: 8px;
    }

    .checkbox {
      text-align: left;
      label {
        padding-top: 3px;
      }
    }

    .extramargin {
      padding-bottom: 10px;
    }

    .jjj {
      margin-bottom: 10px;
    }
  }

  .signupandforgotpass {
    text-align: center;
    
  }

  .social-auth {
    padding: 20px 5px;
    text-align: center;
    hr {
      width: 100%;
      margin: auto;
    }
    a {
      font: bold 12px/42px "ProximaNova", sans-serif;
      color: #fff;
    }
    a:hover {
      text-decoration: none;
      color: #fff;
    }

    .fb-auth-btn, .tw-auth-btn {
      border-radius: 3px;
      width: 140px;
      height: 42px;
      background: #4169bc;
      display: inline-block;
      text-transform: uppercase;
    }
    .tw-auth-btn {
      background: #1caeea;

    }
  }
}


.profile {
  width: auto;
  height: auto;
  padding: 10px 25px;
  h2 {
    text-align: center
  }
}

.subscribtion_profile {
  margin-top:30px;
  height: 270px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 3px;
  ul {
    padding: 0px 5px;
    list-style-type: none;
    width: 250px;
  }
  span {
    float: right;
    margin-left: 50px;
  }
}

.otpisca {
  padding: 2px 15px;
  color: #399C72;
}

.checkbox {
  .user_mail_notifyers {
    display: inline-block;
  }
  .controls {
    margin-right: 5px;
    float: left;
    input[type="checkbox"] {
      margin-left: 0;
      margin-top: 0;
      position: relative;
    }
    label.checkbox {
      overflow: hidden;
      padding-left: 0;
      margin-top: 0;
    }
  }
  label {
    display: inline-block;
    padding-left: 0px;
  } 
}
