// Place all the styles related to the persons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile {
  width: auto;
  height: auto;
  padding: 10px 25px;
  h2 {
    text-align: center
  }
}

.subscribtion_profile {
  margin-top:30px;
  height: 270px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 3px;
  ul {
    padding: 0px 5px;
    list-style-type: none;
    width: 250px;
  }
  span {
    float: right;
    margin-left: 50px;
  }
}

.otpisca {
  padding: 2px 15px;
  color: #399C72;
}

.checkbox {
  .user_mail_notifyers {
    display: inline-block;
  }
  .controls {
    margin-right: 5px;
    float: left;
    input[type="checkbox"] {
      margin-left: 0;
      margin-top: 0;
      position: relative;
    }
    label.checkbox {
      overflow: hidden;
      padding-left: 0;
      margin-top: 0;
    }
  }
  label {
    display: inline-block;
    padding-left: 0px;
  } 
}
