.login-block{
  margin: 7% auto;
  width: 300px;
  padding: 0px 20px 10px;
/*  box-shadow: 0 3px 3px rgba(0,0,0,0.5);*/
  background: #F3F2EF;

  .login-head {
    text-align: center;
    padding: 10px;
  }
  
  .login-form {
    text-align: center;
    label {
      text-align: right;
      padding-right: 0px;
      padding-top: 8px;
    }

    .form-control {
      font-size: 13px;
    }

    .checkbox {
      text-align: left;
      margin: 0;
      font-size: 13px;
      label {
        padding-top: 3px;
      }
      input {
        margin-left: -15px;
      }
    }

    .extramargin {
      padding: 15px;
      .btn {
        width: 120px;
      }
    }
  }

  .signupandforgotpass {
    text-align: center;
    color: grey;
    font-size: 13px;
  }

  .social-auth {
    padding: 20px 0px;
    hr {
      width: 100%;
      margin: auto;
    }
    .h4 {
      text-align: center;
      font-size: 16px;
    }
    a {
      font: 12px/36px "ProximaNova", sans-serif;
      color: #fff;
    }
    a:hover {
      text-decoration: none;
      color: #fff;
    }

    .auth-btn {
      border-radius: 4px;
      width: 120px;
      height: 34px;
      display: inline-block;
      text-transform: uppercase;
      text-align: center;
    }
    .tw {
      background: #1caeea;
      margin-left: 16px;
    }
    .fb {
      background: #4169bc;
    }
  }
}


.profile {
  width: auto;
  height: auto;
  padding: 10px 25px;
  .login-form {
    width: 300px;
    .extramargin {
      margin-top: 15px;
    }
  }
  .warningg {
    border-left: 5px solid;
    margin-top: 12px;
    padding-left: 10px;
  }
}

.subscribtion_profile {
  margin-top:30px;
  height: 270px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding-top: 3px;
  ul {
    padding: 0px 5px;
    list-style-type: none;
    width: 250px;
  }
  span {
    float: right;
    margin-left: 50px;
  }
}
.usersubslist {
  max-width: 300px;
}
.unsubbtn {
  margin-top: -18px;
}

.checkbox {
  .user_mail_notifyers {
    display: inline-block;
  }
  .controls {
    margin-right: 5px;
    float: left;
    input[type="checkbox"] {
      margin-left: 0;
      margin-top: 0;
      position: relative;
    }
    label.checkbox {
      overflow: hidden;
      padding-left: 0;
      margin-top: 0;
    }
  }
  label {
    display: inline-block;
    padding-left: 0px;
  } 
}

.passforgetmargin {
  padding-bottom: 270px;
}