%footer
  .wc-cont
    .col-xs-3
      %p Contacts
      %p About
      %p Kate's news site, 2014
    .col-xs-3
      %span.social
        %a{ :href => 'https://twitter.com/lh_190'}
          = image_tag 'twi_logo.png'
        %a{ :href => 'https://www.facebook.com/barashevakatya'}
          = image_tag 'fb_logo.png'
    .col-xs-6
      